.feed {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 60px;
}

.orders {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}