.tabs {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cardImage {
    width: 240px;
    height: 120px;
    padding: 0 16px;
}

.price {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.name {
    height: 48px;
}

.section {
    padding: 24px 16px 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 272px);
    gap: 24px;
}

.scrollable {
    max-height: 100vh;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: #2F2F37;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.modalImage {
    width: 480px;
    height: 240px;
}

.modalDetails {
    display: flex;
    gap: 20px;
}

.modalValue {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}
